# Sicherheit (Niemals hochladen!)
.env
.DS_Store

# Riesige Datenmengen
data/

# Python & Umgebung
.venv1/
.venv/
__pycache__/
*.pyc
project_data_output/
# IntelliJ/Editor Dateien
.idea/
flight_data_output/